<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>275534874189-h298vq07c5o3uusvpmis365mavfebf90.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.275534874189-h298vq07c5o3uusvpmis365mavfebf90</string>
	<key>API_KEY</key>
	<string>AIzaSyBqW8CbQ4en0HzYSdwvVc5QjHNSDLXg50c</string>
	<key>GCM_SENDER_ID</key>
	<string>275534874189</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>groupsix.com</string>
	<key>PROJECT_ID</key>
	<string>hostelbooking-9bdbd</string>
	<key>STORAGE_BUCKET</key>
	<string>hostelbooking-9bdbd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:275534874189:ios:7e8db9c8f2c291d831be04</string>
</dict>
</plist>